@import "tailwindcss";
@import "@heroui/styles";

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
}

[data-theme="light"] {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);
    --surface: hsl(0 0% 100%);
    --surface-secondary: hsl(0 0% 96.1%);
    --danger: hsl(0 84.2% 60.2%);
    --danger-foreground: hsl(0 0% 98%);
}

[data-theme="dark"] {
    --background: hsl(0 0% 3.9%);
    --foreground: hsl(0 0% 98%);
    --surface: hsl(0 0% 3.9%);
    --surface-secondary: hsl(0 0% 14.9%);
    --danger: hsl(0 62.8% 30.6%);
    --danger-foreground: hsl(0 0% 98%);
}
